@import url('https://cdn.jsdelivr.net/gh/elte-fi/www-assets@19.10.16/styles/mdss.min.css');

label {
    display: inline-block;
    width: 200px;
}

button {
    background-color: #517d81;
    cursor: pointer;
    margin-top: 0.5em;
    color: white;
    font-weight: bold;
    border: 0;
    padding: 0.5rem;
}

button:hover {
    filter: brightness(120%);
}

button:active {
    filter: hue-rotate(30deg);
}

#success {
    margin-top: 1em;
    width: 100%;
}

#success h2 {
    text-align: center;
    font-size: 2em;
}
