/* custom fonts */
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Dekko');


h1, footer p, figcaption, figure, video {
	text-align: center;
}

p {
	text-align: justify;
}

figure pre, nav#mainmenu {
	text-align: left;
}

/* ============= fonts ============= */
body {
	font-family: Arial, Verdana, sans-serif;
}

figcaption {
	font-family: cursive;
	font-family: 'Dekko', cursive;
}

/* ============= font sizes ============= */

h1 {
	font-size: 3em;
}

h2, h3, header nav#mainmenu {
	font-size: 1.5em
}


/* ============= font styles ============= */
aside h2, q {
	font-style: italic;
}


figcaption {
	font-weight: bold;
}

h1 {
	font-variant: small-caps;
	letter-spacing: 2px;
}


p {
	line-height: 1.5em;
}

a {
	text-transform: uppercase;
}

h1 {
	text-shadow: gray 5px 7px 3px;
}

p {
	text-indent: 1em
}

p:first-of-type {
	text-indent: 0
}

/* ============== colors =============== */

h3 {
	color: #786f61;
}

pre {
	background-color: black;
	color: white;
}

figure, video {
	background-color: black;


}


/* html and body properties */
html {
	background-color: darkgray;
	background-image: url("../media/pagebackground.jpg");
}

body {

	background-color: white;
	width: 80%;
	max-width: 1000px;
	min-width: 500px;
	padding: 0 20px 20px 20px;
	margin: 20px auto;
	border: 0px dotted gray;
	box-shadow: 0 0 30px black;
}

body, header {
	border-radius: 20px 20px 0 0;
}



/* headings */
h1 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1 {
	color: white;
	margin: 10px 0 20px 0;
	padding: 3px 60px;
	transform: rotate(-1deg);
	background-color: black;
	opacity: 0.8;
	background-image: url("../media/3star.png"), url("../media/3star.png");
	background-repeat: no-repeat, no-repeat;
	background-position: left center, right center;
}


main>article>h2 {

	background-image: url("../media/clapper.png");
	background-position: top left;
	background-repeat: no-repeat;
	padding: 10px 20px 10px 60px;
	background-size:40px;
}


h3 {
	padding: 10px;
	margin: 0;
}

aside h2 {
	float: left;
	margin: 40px 5px 0 0;
	transform: rotate(-90deg);
}

/* link properties*/

header nav#mainmenu a, header nav#mainmenu b {
	padding: 0 30px 0 0;
}

header nav#mainmenu a:link {
	color: white;
	text-decoration: underline
}

header nav#mainmenu a:visited {
	color: white;
	text-decoration: underline;
}

nav#pagemenu a {
	text-decoration: none;
	padding: 3px;
}

nav#pagemenu a:link, header nav#pagemenu a:visited {
	color: black
}

nav#pagemenu a:hover, header nav#pagemenu a:focus {
	background-color: #ddd;
	transition: all 0.5s ease-in;
}

/* skip to link */
nav#skip a {
	position: absolute;
	left: -9999px
}

nav#skip a:focus {
	position: static;
	background-color: white
}

nav#skip h2 {}


/* lists */

ol {
	counter-reset: li;
	margin-left: 0;
	padding-left: 0;
	padding-top: 10px;
}

ol>li {
	position: relative;
	margin: 0 0 6px 2em;
	padding: 4px 8px;
	list-style: none;
}

ol>li:before {
	content: counter(li);
	text-decoration: underline;
	counter-increment: li;
	position: absolute;
	top: 0px;
	left: -2em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 2em;
	margin-right: 8px;
	padding: 4px;
	color: #fff;
	background: #333;
	font-weight: bold;
	font-family: Arial, Verdana, sans-serif;
	text-align: center;
}

li ol,
li ul {
	margin-top: 6px;
}

ol ol li:last-child {
	margin-bottom: 0;
}

/* text elements */


details p {
	line-height: 1em;
	font-size: 0.8em;
}

summary {
	font-size: 0.8em;
}



pre {
	overflow: auto;
}


/* images, videos, media elements */

figcaption {
	color: white;
}

img {
	width: 95%;
	height: auto;
	border-radius: 20px;
	margin: 0;

}

figure, video {
	margin: 10px auto;
	border: 2px solid gray;
	padding: 10px;
	border-radius: 20px;
	width: 90%;
	max-width: 700px;
	background-color: black;
	display: block;
}

figure {
	break-inside: avoid;
}




.slideshare16x9 {
	padding-bottom: calc(56.25% + 38px);
	position: relative;
	width: 80%;
	height: 0;
	margin: 0 auto;
}

.slideshare16x9 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid #CCC;
}

#canvas {
	float: right;
}

/* table properties */

table {
	border-collapse: collapse;
}

th {
	text-align: left
}

table {
	width: 300px;
}

th, td {
	border: 0
}


/* structural elements */

div#introduction {
	padding: 30px 40px;
	background-color: white;
	margin: 5px 40px 40px auto;
	border-right: 5px solid black;
	border-left: 5px solid black;
	background-image: url("../media/moviebar.png"), url("../media/moviebar.png");
	background-position: top, bottom;
	background-repeat: repeat-x, repeat-x;
	transform: rotate(-3deg);
	background-origin: border-box;
	background-size: 30px 29px;
	width: 70%;
	position: relative;
	min-height: 150px;
	opacity: 0.9;
}

.columns, #introduction {
	column-count: 2;
	column-gap: 30px;
}

aside {
	float: right;
	margin: 0px 10px 10px 20px;
	background-color: #e3e0d3;
	border: 4px solid black;
	background-image: url("../media/moviebar.png"), url("../media/moviebar.png");
	background-position: top, bottom;
	background-repeat: repeat-x, repeat-x;
	transform: rotate(3deg);
	background-size: 20px 19px;
	padding: 20px 10px 30px 10px;
}

section {
	width: 100%
}

nav#mainmenu {
	background-color: black;
	width: 400px;
	opacity: 0.8;
}


hr {
	border: 1px dashed #c5b59e;
	margin: 20px 0;
}

header {
	background-image: url("../media/headerback.jpg");
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 -20px -20px -20px;
	padding: 10px 0 0 0;
	border-bottom: 3px solid black;
}

header nav#mainmenu {
	color: #cac8bc;
	padding: 10px;
	border-radius: 0 10px 10px 0;
	margin: 0;
}

main {
	padding-top: 20px;
}

.hidden, nav#skip h2 {
	position: absolute;
	left: -9999px;
}

/* form */


fieldset {
	border-radius: 5px;
	width: 70%;
	min-width: 450px;
	background-color: #cac8bc;
	margin-bottom: 10px;
}

/* stylesheet for breakpoint 1. */

@media screen and (min-width: 1000px) {
	article {
		column-count: 2;
		column-gap: 30px;
	}

	aside h2 {
		float: none;
		margin: 20px 5px 0 0;
		transform: rotate(0deg);
	}

	aside {
		float: none
	}


}

/* stylesheet for breakpoint 2. */

@media screen and (max-width: 600px) {
	.columns, #introduction {
		column-count: 1;
		column-gap: 0;
	}

	aside {
		float: none;
		width: 90%;
		box-sizing: border-box;
		margin: 0px;
	}

	div#introduction, aside {
		transform: rotate(0);
	}

	body {
		width: 100%;
		box-sizing: border-box;
	}

	div#introduction article h2 {
		position: static;
		transform: rotate(0deg);
		margin: 10px 0;
		box-sizing: border-box;
		width: 90%;
	}

	div#introduction {
		padding-left: 10px;
		margin: 0;
		width: 100%;
		box-sizing: border-box;
		min-width: initial;
		max-width: initial;
	}

	header {
		width: 100%;
		box-sizing: border-box;
	}
}

/* stylesheet for print media */
@media print {

	@page {
		margin: 2cm;
	}

	html {

		background: white;
	}

	header, main, article, footer, figure {
		margin: 0;
		padding: 0;
		width: 100%
	}

	h1 {
		text-shadow: none;
		margin: 0.5cm;
		transform: rotate(0);
		font-size: 1cm;
	}

	h2 {
		margin: 5px;
	}

	* {
		border: none !important;
		color: black !important;

	}

	body {
		width: 100%;
		font-family: 'Times New Roman', Times, serif;
		background: white;
		min-width: initial;
		max-width: initial;
		box-shadow: initial;
		padding: 0;
		margin: 0;
	}

	nav {
		display: none
	}

	a:after {
		content: " ("attr(href) ")";
	}

	h2#deepweb {
		page-break-before: always
	}

	aside {
		float: right;
		width: 8cm;
		margin: 0 0 0 10px;
	}

	div#introduction, aside {
		transform: rotate(0);
	}

	div#introduction {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	figure img {
		max-width: 10cm
	}

	video, audio {display:none}
	div.slideshare16x9 {width:10cm}
	textarea, legend {display:none}
	
}