@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
:root {
    --mouse_over: #dfe;
    --mattress: rgb(38 79 138);
}


* {
    font-family: 'Gamja Flower', cursive;
    font-size: 1.05rem;
}

img {
    width: 100%;
}

body {

    height: 100vh;
}

._container {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    height: 97vh;
    width: 100vw;
    flex-direction: row;
}

.left, .right {
    /* width: 25%; */
}

.left, .left_border, .right, .right_border {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.left h3, .right h3{
    width: 100%;
    text-align: center;
    font-size: 35px;
}


.left h4, .right h4{
    width: 100%;
    font-size: 25px;
    text-indent: 40px;
}

.left h4 {
    text-align: left;
}

.right h4 {
    text-align: right;
    direction:rtl;
}


.left_border, .right_border {
    border: 20px solid rgba(16, 62, 170, .3);
    width: 23rem;
    height: 23rem;
    background-color:rgb(38 79 138);
}

.focusPlayer {
    border-color: rgb(128 134 138);
}

.kitten {
    display: block;
    width: 5rem;
}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}


.tableBoard table {
    border-radius: 1rem;
    background-color: var(--mattress);
    border-collapse: collapse;

}

.tableBoard table td {
    border: 1px solid white;
    text-align: center;
    vertical-align: center;
    height: 70px !important;
    min-width: 70px !important;
}

.tableBoard table td:hover {
    background-color: var(--mouse_over);
}

.tableBoard table img {
    width: 68px;
    height: 68px;
    padding: 0;
    margin: 0;
}

.tableBoard div {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
}

.tableBoard div button {
    margin: 0 6px 0 6px;
}

footer {
    background-color: white;
    text-align: center;
    height: 3vh;
    width: 100vw;
}

.highlight {
    background-color: var(--mouse_over);
}

.toBePushed {
    background-color: rgba(121, 80, 80, .5);
}


.card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 35rem;
    padding: 0 10px 0 10px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgba(0, 0, 0, 0.1)
}

span {
    font-size: 3.8rem;
}

span#winner {
    font-size: 3rem;
}

h1 {
    font-size: 4rem;
    line-height: 3.5rem;
}
h2 {
    font-size: 3.5rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.5rem;
}


p {
    font-size: 1.5rem;
}