@import url("https://cdn.jsdelivr.net/gh/elte-fi/www-assets@19.10.16/styles/mdss.min.css");

table {
    border-collapse: collapse;
}

tr, td {
    background-color: white;
    border: 1px solid #ddd;
}